@import "../../../../constants/variables";

.metadata-container {
  display: flex;
  align-items: center;

  .publish-tag {
    border-color: $primary-green;
    color: $primary-green;
    margin-right: 10px;
  }

  .space-holder {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
  }
}
