@import "../../../constants/variables";

.peak-publish-modal {
  display: flex;
  justify-content: center;
  width: 60% !important;
  min-height: 750px;

  .publish-post-container {
    display: flex;
    align-items: center;
  }

  .ant-modal-content {
    box-shadow: none;
    width: 100%;

    .ant-modal-body {
      display: flex;
      justify-content: center;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 50px;
      height: 100%;
      width: 100%;
    }
  }
}

.publish-modal-container {
  color: $text-accent-color;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: calc(-1 * #{$vertical-padding} / 2)!important;
  padding-top: calc(#{$vertical-padding} / 2)!important;

  .publish-button {
    margin-left: 25px;
    z-index: 10;
  }
}
